.footer{
    width: 100%;
    padding: 4rem 6rem 2rem 6rem;
    background-color: #ABB0B8;
    text-align: center;
}

.center p{
    text-align: center;
    margin-top: 1rem;
 
}

.social{
    text-align: right;
    margin-top: 5rem;

}
